<footer class="bg-orange text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5>О компании</h5>
                <p>Интерьер - магазин мебели с собственным производством.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5>Полезные ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="/privacy-policy" class="text-white">Политика конфиденциальности</a></li>
                    <li><a href="/delivery" class="text-white">Доставка и оплата</a></li>
                    <li><a href="/contacts" class="text-white">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Мы в соцсетях</h5>
                <div class="social-icons">
                    <a href="#" class="text-white me-2"><i class="fab fa-vk fa-lg"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-telegram fa-lg"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="text-center">
            &copy; 2025 Интерьер. Все права защищены.
        </div>
    </div>
</footer>